body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background: hsl(204, 43%, 93%);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 436px;
    margin: 3.5em auto;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    margin: 30px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.col-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    color: white;

}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    background: hsl(179, 62%, 43%);
    padding: 20px;
}

.right {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    background: hsl(179, 48%, 52%);
    border-radius: 0 0 7px 7px;
    padding: 10px 20px 20px 20px;
}

h2,
h3 {
    margin-bottom: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: #e2e5e7;
    font-size: small;
    padding-top: 7px;
}

h2 {
    color: hsl(179, 62%, 43%);

}

#promo {
    color: hsl(71, 73%, 54%);
}

p {
    line-height: 1.8;
    font-size: small;
}

.col-1>.bottom>p {
    font-size: 0.9rem;
    font-weight: 700;
    color: #868c8f;
}

.price {
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 10px;
}

.duration {
    color: #e2e5e7;
    font-size: 1rem;
}

button {
    background-color: hsl(71, 73%, 54%);
    /* Green */
    display: block;
    margin: 5px 0;
    padding: 10px 30px;
    cursor: pointer;
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    background: hsl(71, 64%, 52%);
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.full-access {
    font-size: 0.9rem;
}

.attribution {
    font-size: 0.8rem;  
}
.attribution>a {
    color: hsl(179, 62%, 43%);
    text-decoration: none;
}

/*Desktop responsive code*/
@media screen and (min-width: 631px) {
    .container {
        max-width: 680px;

    }

    .left {
        padding: 20px 30px;
        width: 100%;
        border-radius: 0 0 0 7px;
    }

    .right {
        padding-left: 40px;
        padding-top: 20px;
        width: 100%;
        border-radius: 0 0 7px 0;
    }

    .col-1 {
        padding: 20px 30px;
    }

    .col-2 {
        flex-direction: row;
    }

    button {
        width: 95%;
        padding: 15px 30px;
    }

}
